:root {
  --hours-spacing: .15rem;
}

hour-control,
hours-control {
  display: block;
  clear: both;
}

hours-control {
  padding-bottom: 1rem;
}

hour-control {
  margin-top: 3rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-gray-lighter);
  &:first-child {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
  }
}

.hour {
  &__day {
    width: auto;
    margin-right: .75rem;
  }

  &__times {
    display: flex;
    margin-left: -var(--hours-spacing);
    margin-right: -var(--hours-spacing);

    > * {
      margin-left: var(--hours-spacing);
      margin-right: var(--hours-spacing);
    }
  }

  &__remove {
    float: right;
  }
}
