<h1>RP Controls</h1>

<form [formGroup]="form" (rpSubmit)="value = $event" (submitFail)="showErrors = $event" [showErrors]="showErrors">
  <rp-select-control label="Days" formControlName="days" [limit]="0">
    <rp-option *ngFor="let day of days" [label]="day.label" [value]="day.value"></rp-option>
  </rp-select-control>

  <rp-select-control label="Rooms" formControlName="selectObjects" [limit]="0">
    <rp-option *ngFor="let x of rooms" [label]="x.name" [value]="x"></rp-option>
  </rp-select-control>

  <rp-input-control label="Title" formControlName="title" [errors]="{required: 'A title is required'}" placeholder="An Example Title"></rp-input-control>

  <rp-input-control label="Password" formControlName="password" type="password"></rp-input-control>

  <rp-input-control label="Email" formControlName="email" type="email" placeholder="test@test.com"></rp-input-control>

  <rp-input-control label="Phone" formControlName="phone" type="tel"></rp-input-control>

  <rp-input-control label="Date" formControlName="date" type="date"></rp-input-control>

  <rp-input-control label="Time" formControlName="time" type="time"></rp-input-control>

  <rp-input-control label="Number" formControlName="number" type="number"></rp-input-control>

  <rp-textarea-control label="Textarea" formControlName="textarea" placeholder="Some rich text placeheld"></rp-textarea-control>

  <rp-textarea-control label="Textarea (No Rich Text Editor)" formControlName="textareaNoRte" [rte]="false" placeholder="This is where you would type stuff."></rp-textarea-control>

  <rp-select-control label="Single Select" formControlName="singleSelect">
    <rp-option *ngFor="let option of [1, 2, 3, 4, 5]" label="Option {{option}}" [value]="option"></rp-option>
  </rp-select-control>

  <rp-select-control label="Multiple Select (Limit: 3)" formControlName="multipleSelect" [limit]="3" placeholder="Choose up to 3...">
    <rp-option *ngFor="let option of [1, 2, 3, 4, 5]" label="Option {{option}}" [value]="option"></rp-option>
  </rp-select-control>

  <rp-select-control label="Select (No Options)" formControlName="selectNoOptions"></rp-select-control>

  <rp-checkbox-control label="Toggle Control" formControlName="toggleControl"></rp-checkbox-control>

  <rp-radios-control label="Radios Control" formControlName="radiosControl">
    <rp-option *ngFor="let option of [1, 2, 3, 4, 5]" label="Option {{option}}" [value]="option"></rp-option>
  </rp-radios-control>

  <rp-checkboxes-control label="Checkboxes Control" formControlName="checkboxesControl">
    <rp-option *ngFor="let option of [1, 2, 3, 4, 5]" label="Option {{option}}" [value]="option"></rp-option>
  </rp-checkboxes-control>

  <!-- <section formGroupName="address"> -->
  <section [formGroup]="form.get('address')">
    <h2>Address (Nested FormGroup)</h2>

    <rp-input-control label="Street" formControlName="street"></rp-input-control>

    <rp-input-control placeholder="Street 2" formControlName="street2"></rp-input-control>

    <rp-input-control label="City" formControlName="city" placeholder="Malibu"></rp-input-control>

    <rp-select-control label="State" formControlName="state">
      <rp-option *ngFor="let state of states" [label]="state.label" [value]="state.value"></rp-option>
    </rp-select-control>

    <rp-input-control label="Zip" formControlName="zip" placeholder="90210"></rp-input-control>
  </section>

  <section formArrayName="links">
    <h2 class="rp-controls__label">Links (Easy FormArrays)</h2>

    <button rpFormArrayAdd type="button">Add Link</button>

    <div *ngFor="let c of form.get('links').controls; let i = index">
      <rp-input-control label="href" [formControl]="c" placeholder="facebook.com"></rp-input-control>

      <button (click)="form.get('links').removeAt(i)" type="button">Remove Link</button>
    </div>
  </section>

  <section formArrayName="hours">
    <rp-form-array-label title="Hours (FormArray of FormGroups)" itemName="Hour"></rp-form-array-label>

    <div *ngFor="let c of hours.controls; let i = index" [formGroup]="c">
      <rp-select-control label="Days" formControlName="days" [limit]="0">
        <rp-option *ngFor="let day of days" [label]="day.label" [value]="day.value"></rp-option>
      </rp-select-control>

      <rp-input-control label="Start" formControlName="start" type="time" placeholder="12:34 PM"></rp-input-control>

      <rp-input-control label="End" formControlName="end" type="time"></rp-input-control>

      <button (click)="hours.removeAt(i)" type="button">Remove Link</button>
    </div>
  </section>

  <button [disabled]="showErrors && form.invalid" type="submit">Submit</button>

  <button (click)="form.reset()" type="button">Reset</button>
</form>

<code>
  <pre>{{form.value|json}}</pre>
</code>
